<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>로그인(랜딩페이지)</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_id">id </label>
            <input type="text" name="id" required id="id_id">
        </div>
        <div>
            <label for="id_pwd">비밀번호 </label>
            <input type="password" name="pwd" required id="id_pwd">
        </div>
        <div>
            <input type="submit" value="Login">
        </div><br>
        <a href="{% url 'signup' %}">회원가입하러 가기</a>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>
