<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>회원가입</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_id">ID </label>
            <input type="text" name="id" required id="id_id">
        </div>
        <div>
            <label for="id_pwd">비밀번호 </label>
            <input type="password" name="pwd" required id="id_pwd">
        </div>
        <div>
            <label for="id_pwd2">비밀번호 확인 </label>
            <input type="password" name="pwd2" required id="id_pwd2">
        </div>
        <div>
            <label for="id_email">이메일 </label>
            <input type="email" name="email" required id="id_email">
        </div>
        <div>
            <label for="id_name">이름 </label>
            <input type="text" name="name" required id="id_name">
        </div>
        <div>
            <label for="id_gender">성별 </label>
            <select name="gender" id="id_gender">
                <option value="M">남성</option>
                <option value="F">여성</option>
            </select>
        </div>
        <div>
            <label for="id_birth_date">생년월일 </label>
            <input type="date" name="birth_date" id="id_birth_date">
        </div>
        <div>
            <label for="id_profile_pic">프로필 사진 </label>
            <input type="file" name="profile_pic" id="id_profile_pic">
        </div>
        <div>
            <label for="id_bio">간단한 자기 소개 </label>
            <textarea name="bio" id="id_bio"></textarea>
        </div>
        <!-- <div>
            <label for="id_user_type">유형 </label>
            <select name="user_type" id="id_user_type">
                <option value="AA유형</option>
                <option value="B">B유형</option>
            </select>
        </div> -->
        <div>
            <label for="id_nickname">닉네임 </label>
            <input type="text" name="nickname" required id="id_nickname">
        </div>
        <div>
            <input type="submit" value="회원가입 완료">
        </div>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html>
