<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <label for="id_user_type">여행 성향 </label>
        <select name="user_type" id="id_user_type">
            <option value="0">Sun</option>
            <option value="1">Jupiter</option>
            <option value="2">Comet</option>
            <option value="3">Earth</option>
            <option value="4">Moon</option>
            <option value="5">Saturn</option>
            <option value="6">White Hole</option>
            <option value="7">Black Hole</option>
        </select>
    </div>
</body>
</html>