<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
</head>
<body>
    <a href="{% url 'home' %}">홈</a>
    <a href="{% url 'post_list' %}">최신 글</a>
    <a href="{% url 'post_list2' %}">인기 글</a><br><br>
    <a href="{% url 'my_test' %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <br><br>
    <h2>home_인기글 (북마크 순)</h2> 

    {% for post in posts %}
    <div>
        <h2><a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
        <p>글쓴이: {{ post.author.nickname }}</p>
        <p>여행성향: {{ post.author.user_type }}</p>
        <p>댓글: {{ post.comments_count }}</p>
        <p>북마크: {{ post.bookmark_count }}</p>
    </div>
    {% endfor %}
</body>
    
</html>
