<!DOCTYPE html>
<html>
<head>
    <title>게시글 목록(최신글)</title>
</head>
<body>
    <h1>최신글</h1>    
    <a href="{% url 'home' %}">홈</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <a href="{% url 'post_create' %}">새 게시글 작성</a>
    <br><br>
    {% for post in posts %}
    <div>
        <h2><a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
        <p>글쓴이: {{ post.author.nickname }}</p>
        <p>댓글: {{ post.comments.all.count }}</p>
        <p>북마크: {{ post.bookmark_count }}</p>
    </div>
    {% endfor %}
    <br><br>
    {% if current_user_nickname %}
        <div class="current-user-info">
            <h3>나의 정보</h3>
            <p>닉네임: {{ current_user_nickname }}</p>
            {% if current_user_profile_pic %}
                <img src="{{ current_user_profile_pic }}" alt="현재 사용자의 프로필 사진">
            {% endif %}
            <p>유형: {{ current_user_user_type }}</p>
        </div>
    {% endif %}
    <!-- <div class="author-info">
        <h3>작성자 정보:</h3>
        <p>닉네임: {{ post.author.nickname }}</p>
        {% if post.author.profile_pic %}
            <img src="{{ post.author.profile_pic.url }}" alt="프로필 사진">
        {% else %}
            <p>프로필 사진이 없습니다.</p>
        {% endif %}
        <p>유형: {{ post.author.user_type }}</p>
    </div> -->
</body>
</html>

<!-- post_detail/<int:post_id>/ -->
<!-- 유저 이름, 유형, 사진 -->