<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <a href="{% url 'home' %}">홈</a>
    <a href="{% url 'post_list' %}">최신 글</a>
    <a href="{% url 'post_list2' %}">인기 글</a><br><br>
    
    <h1>제목: {{ post.title }}</h1>
    <p>작성자:
    {% if post.author.profile_pic %}
        <img src="{{ post.author.profile_pic.url }}" alt="프로필 사진" width="50">
    {% else %}
        <p>프로필 사진이 없습니다.</p>
    {% endif %}{{ post.author.nickname }}
    </p>여행 성향: {{ post.author.user_type }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <!-- <p>수정일: {{ post.updated_at }}</p> -->
    <p>내용: {{ post.content }}</p>
        {% if post.image1 %}
            <img src="{{ post.image1.url }}" alt="Image 1" width="200">
        {% endif %}
        {% if post.image2 %}
            <img src="{{ post.image2.url }}" alt="Image 2" width="200">
        {% endif %}
        {% if post.image3 %}
            <img src="{{ post.image3.url }}" alt="Image 3" width="200">
        {% endif %}
    <br><br>

    <!-- 글 작성자에게만 수정 및 삭제 버튼이 보임 -->
    {% if user.is_authenticated and user == post.author %}
        <a href="{% url 'post_edit' post.id %}">수정</a>
        <form action="{% url 'post_delete' post.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form><br>
        {% endif %}

    <!-- 북마크 -->
    {% if user.is_authenticated %}
     <form action="{% url 'toggle_bookmark' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
               {% if user in post.bookmarked.all %}
                    북마크 해제 {{ bookmarks_count }}
                {% else %}
                    북마크 {{ bookmarks_count }}
                {% endif %}
            </button>
        </form>
    {% endif %}

    <p>댓글: {{ post.comments.all.count }}</p>
    
    <!-- 댓글 목록 -->
    {% for comment in post.comments.all %}
        <div>
            <strong>{% if comment.author.profile_pic %}
                <img src="{{ comment.author.profile_pic.url }}" alt="프로필 사진" width="50">
            {% else %}
                <p>프로필 사진이 없습니다.</p>
            {% endif %}{{ comment.author.nickname }}</strong><p>여행 성향: {{ comment.author.user_type }}</p>
            <p>댓글 내용: {{ comment.content }}</p>
            <!-- <p>{{ comment.created_at }}</p> : 댓글 단 날짜--> 
        </div>
    {% empty %}
        <p>댓글을 달아보세요.</p> 
    {% endfor %}

    <!-- 댓글 달기 -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">댓글 달기</button>
    </form>
    <br>
    
    <!-- 글쓴이 정보 -->
    <div class="author-info">
        <h3>글쓴이</h3>
        <p>닉네임: {{ post.author.nickname }}</p>

        <!-- 나이 -->
        {% if  age >= 10 and age <= 19 %}
            <p>10대</p>
        {% elif age >= 20 and age <= 29 %}
            <p>20대</p>
        {% elif age >= 30 and age <= 39 %}
            <p>30대</p>
        {% else %}
            <p>기타 연령대</p>
        {% endif %}

        <!-- 성별 -->
        <p>
            {% if post.author.gender == 'M' %}
                남
            {% elif post.author.gender == 'F' %}
                여
            {% else %}
                미지정
            {% endif %}
        </p>

        <!-- 프로필 -->
        {% if post.author.profile_pic %}
            <img src="{{ post.author.profile_pic.url }}" alt="프로필 사진" width="100">
        {% else %}
            <p>프로필 사진이 없습니다.</p>
        {% endif %}

        <p>여행 성향: {{ post.author.user_type }}</p>
        <p>자기소개: {{ post.author.bio }}</p>
    </div>
</body>
</html>

<!-- 글쓴이 이름, 나이, 성별, 유형, 자기소개 -->
