<!DOCTYPE html>
<html>
<head>
    <title>게시글 목록(필터링)</title>
</head>
<body>
    <a href="{% url 'home' %}">홈</a>
    <a href="{% url 'post_list' %}">최신 글</a>
    <a href="{% url 'post_list2' %}">인기 글</a><br><br>
    <a href="{% url 'my_info' %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    <a href="{% url 'post_create' %}">✏️글 쓰기</a>
    <br><br>
    <h2>{{ user_type }} 필터 적용중입니다.</h2>    

    <button onclick="filterPosts('Sun')">Sun</button>
    <button onclick="filterPosts('Jupiter')">Jupiter</button>
    <button onclick="filterPosts('Comet')">Comet</button>
    <button onclick="filterPosts('Earth')">Earth</button>
    <button onclick="filterPosts('Moon')">Moon</button>
    <button onclick="filterPosts('Saturn')">Saturn</button>
    <button onclick="filterPosts('White')">White Hole</button>
    <button onclick="filterPosts('Black')">Black Hole</button>
    <script>
        
    function filterPosts(userType) {
        window.location.href = "{% url 'post_filter' %}?user_type=" + userType;
    }
    </script>

    {% for post in posts %}
    <div>
        <h2><a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
        <p>글쓴이: {{ post.author.nickname }}</p>
        <p>여행성향: {{ post.author.user_type }}</p>
        <p>댓글: {{ post.comments.all.count }}</p>
        <p>북마크: {{ post.bookmark_count }}</p>
    </div>
    {% endfor %}

    <br><br>
    {% if current_user_nickname %}
        <div class="current-user-info">
            <h3>나의 정보</h3>
            <p>닉네임: {{ current_user_nickname }}</p>
            {% if current_user_profile_pic %}
                <img src="{{ current_user_profile_pic }}" alt="현재 사용자의 프로필 사진" width="100">
            {% endif %}
            <p>여행성향: {{ current_user_user_type }}</p>
        </div>
    {% endif %}
    
</body>
</html>

<!-- post_detail/<int:post_id>/ -->
<!-- 유저 이름, 유형, 사진 -->