<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="{% url 'home' %}">홈 가기</a></p>
    <h2>내가 북마크한 글</h2>
    {% for post in bookmarks %}
    <div>
        <h3><a href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a></h3>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
    </div>
    <!-- 기타 링크 추후 추가 -->
    {% endfor %}
</body>
</html>